<div class="row">
    <div class="12u">

        <!-- Blog -->
        <section>
            <header class="major">
                <h2>Le ultime dal blog</h2>
            </header>
            <div class="row">
                {% assign blog_posts = (site.categories.blog) %}
                {% for post in blog_posts offset: 0 limit: 2 %}
                    <div class="6u">
                        <section class="box">
                            <a href="{{site.baseurl}}{{post.url}}" class="image featured"><img src="{{ site.baseurl }}{{ post.image }}" alt="" /></a>
                            <header>
                                <h3>{{ post.title }}</h3>
                                <p>Pubblicato il {{ post.date | date_to_string }}</p>
                            </header>
                            {{ post.excerpt }}
                            <footer>
                                <ul class="actions">
                                    <li><a href="{{ site.baseurl }}{{ post.url }}" class="button icon fa-file-text">Continua a leggere</a></li>
                                </ul>
                            </footer>
                        </section>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
</div>
</div>
