<!-- Header -->
{% include nav.html %}

<!-- Intro -->
<section id="intro" class="container">
    <div class="row">
        <div class="12u">
            Il Luccalug è un gruppo nato nel 2007 per promuovere la conoscenza e la diffusione del software libero, in particolare del sistema operativo GNU/Linux.
            Dal 2011 i temi di discussione e confronto all'interno dell'associazione si sono allargati a tutto il mondo del free software e dell' open hardware.

            Si pone come centro di riferimento per i lucchesi che usano o che vorrebbero usare GNU/Linux e per gli appassionati dell'informatica e dell'elettronica libera in generale

            #Sistemare lo stile e aggiungere altro???#
        </div>
    </div>
</section>
