<!-- Header -->
<div id="header-wrapper">
    <div id="header">

        <!-- Logo -->
        <a href="{{site.url}}"><img alt="Luccalug logo" src="{{ site.baseurl }}/assets/images/luccalug.jpg"></a>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                {% assign current = page.url | replace : '/', '' | replace: ".html", ''%}

                <!-- A little Hack-->
                <!-- Because page.url return a '/' for the index, with the replace we get an empty "current" variable -->
                <li {% if current == '' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
                <li {% if current == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li {% if current == 'associazione' %}class="current" {%endif%}><a href="{{ site.baseurl }}/associazione.html">Associazione</a></li>
                <li {% if current == 'contatti' %}class="current" {%endif%}><a href="{{ site.baseurl }}/contatti.html">Contatti</a></li>
                <li>
                    <a href="">Attività</a>
                    <ul>
                        <li><a href="/software.html">Progetti software</a></li>
                        <li><a href="/hardware.html">Progetti hardware</a></li>
                        <li><a href="/serate-a-tema.html">Serate a tema</a></li>
                        <li><a href="/eventi.html">Eventi</a></li>
                    </ul>
                </li>
                <li {% if current == 'calendario' %}class="current" {%endif%}><a href="{{ site.baseurl }}/calendario.html">Calendario</a></li>
                <li {% if current == 'linux-day' %}class="current" {%endif%}><a href="{{ site.baseurl }}/linux-day.html">Linux Day</a></li>
            </ul>
        </nav>
    </div>
</div>
